# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/

# Misc
.DS_Store
.env
.npm
*.log

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Eclipse Dash License Tool
dash-licenses.jar
dash-licenses.jar.invalid
